[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pyyaml = "*"
argparse = "*"
albumentations = "*"
segmentation-models-pytorch = "*"
torchvision = "*"
six = "*"
pytorch-lightning = "*"
matplotlib = "*"
rasterio = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10.12"
